.contenedor {
  background-color: black;
  padding-top: 100px;
  padding-left: 20px;
  padding-bottom: 100px;
  padding-right: 20px; }

.saludo {
  width: 100%;
  height: 100px;
  background-color: aqua;
  margin-bottom: 10px; }

.principal {
  width: 100%;
  background-color: beige;
  margin-bottom: 10px; }
  .principal .div {
    display: flex; }
    .principal .div .nombre {
      width: 60%;
      height: 300px;
      background-color: aquamarine; }
    .principal .div .menu {
      width: 40%;
      height: 300px;
      background-color: blue; }
  .principal .bio {
    width: 100%;
    height: 100px;
    background-color: yellow; }

.redes {
  width: 50%;
  height: 100px;
  background-color: palegreen;
  margin-bottom: 10px; }

.lenguaje {
  width: 100%;
  height: 200px;
  background-color: brown; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Space Mono', monospace; }

a {
  text-decoration: none; }

ul {
  list-style: none; }
